{% extends 'base.html' %}

{% block header %}
<div class="alert alert-dark" role="alert">
  detail
</div>
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
  {{ object.title }}
</div>
<div class="alert alert-success" role="alert">
  {{ object.memo }}
</div>
{% endblock content %}
