{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">TodoList</h1>
    <p class="lead">Todolist を作成して生産的な毎日を過ごしましょう。</p>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container">
  <a href="{% url 'create' %}" class="btn btn-secondary mb-2" tabindex="-1"
    role="button" aria-disabled="true">新規作成</a>
  {% for item in object_list %}
  <div class="alert alert-{{ item.priority }}" role="alert">
    <p>{{ item.title }} 期日 {{ item.duedate | date:"o/n/j" }}</p>
    <a href="{% url 'update' item.pk %}" class="btn btn-info" tabindex="-1" role="button"
      aria-disabled="true">編集画面</a>
    <a href="{% url 'delete' item.pk %}" class="btn btn-success" tabindex="-1" role="button"
      aria-disabled="true">削除画面</a>
    <a href="{% url 'detail' item.pk %}" class="btn btn-primary" tabindex="-1" role="button"
      aria-disabled="true">詳細画面</a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
