{% extends 'base.html' %}

{% block header %}
<div class="alert-primary" role="alert">
  <h3>detail page</h3>
</div>

{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p>title: {{ object.title }}</p>
    <p>author: {{ object.author }}</p>
    <p><img src="{{ object.snsimage.url }}" width="300"></p>
    <a href="{% url 'good' object.pk %}" class="btn btn-primary" role="button" aria-pressed="true">good</a>
    <a href="{% url 'read' object.pk %}" class="btn btn-secondary" role="button" aria-pressed="true">mark read</a>
  </div>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}
