{% extends 'base.html' %}

{% block header %}
<div class="alert-primary" role="alert">
  <h3>company SNS</h3>
</div>

{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  {% for item in object_list %}
  <div class="alert alert-success" role="alert">
    <p>title:  <a href="{% url 'detail' item.pk %}">{{ item.title }}</a> </p>
    <p>author: {{ item.author }}</p>
    <a href="#" class="btn btn-primary disabled" role="button" aria-pressed="true">good {{item.good}}</a>
    <a href="#" class="btn btn-secondary disabled" role="button" aria-pressed="true">mark read {{ item.read }}</a>
  </div>
  {% endfor %}
  <a href="{% url 'logout' %}">logout</a>
</div>
{% else %}
please login
{% endif %}
{% endblock content %}
