{% extends 'base.html' %}

{% block content %}

  <body class="text-center">
      {{ context }}
    <form class="form-signin" method="POST">{% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="text" id="inputEmail" class="form-control"
      placeholder="username" name="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control"
      placeholder="Password" name="password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>

{% endblock content %}
